streamlit==1.32.2

langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.46

langchain-openai==0.0.8
langchain-groq==0.0.1

python-dotenv==1.0.1
pypdf==4.2.0
duckduckgo-search==4.4
